.form-holder{
    width: auto;
    min-height: 500px; 
    height: max-content;  
}

.form-double {
    display: flex;
}

.form-triple{
    display: flex;
}

.form-single{
    display: flex;
}

.form-first {
clear: both;
margin-left: 0;
}

.form-whole {
    padding: 10px;
    width: 100%;
}

.form-one-half {
    padding: 10px;
    width: 48%;
}

.form-one-third {
    padding: 10px;
    width: 30.6666666667%;
    /* float: left; */
}

.form-two-thirds{ 
    padding: 10px;
    width: 65.3333333333%;
    /* float: left; */
}

.form-tiny {
    max-width: 50%;
}

.form-small {
    max-width: 30%;
}

.form-medium {
    max-width: 60%;
}

.form-large {
    max-width: 100%;
}

.tick-down{
    margin-top:1.5em;
}

.required-label {
    color: #ff0000;
    font-weight: 400;
}

input[type="radio"] {
    float: left;
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
    /* clear: none; */
}

